@model NBDProject.ViewModels.ProductionDailyVM
@{
    ViewBag.Title = "Index";
}

<h2>Production Daily Work Report</h2>


@using (Html.BeginForm("Index", "DesignerDailies", FormMethod.Get))
{       
    <div>
        <p>
            Select Project: <br />
            @Html.DropDownList("projectID", null, htmlAttributes: new { @class = "this.form.submit()" })
        </p>
    </div>
    <p>    
        Search Date: @Html.TextBox("searchDate", null, new { @class = "form-control" })
    </p>


    <input type="submit" name="actionButton" value="Filter" class="btn btn-default" /> @Html.ActionLink("Clear", "Index")

        

    <div>
        <h4>Materials :</h4>
        @Html.ActionLink("Create", "Create", "ProductionDailyMaterials", null, new { @class = "btn btn-success" })
        <table class="table table-hover">
            <tr class="info">
                <th>
                    Code
                </th>
                <th>
                    Qnty
                </th>
                <th>
                    Unit Cost
                </th>
                <th>
                    Ext. Cost
                </th>
                <th>
                </th>
            </tr>
            @foreach (var item in Model.ProductionDailyMaterial)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.MaterialRequirement.desc)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Qnty)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.UnitCost)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Cost)
                    </td>
                    <td>

                        @Html.ActionLink("Edit", "Edit", "ProductionDailyMaterials", new { id = item.ID }, new { @class = "btn btn-primary" }) |
                        @Html.ActionLink("Details", "Details", "ProductionDailyMaterials", new { id = item.ID }, new { @class = "btn btn-info" }) |
                        @Html.ActionLink("Delete", "Delete", "ProductionDailyMaterials", new { id = item.ID }, new { @class = "btn btn-danger" })

                    </td>
                </tr>
            }
        </table>



        <h4>Labor: </h4>
        @Html.ActionLink("Create", "Create", "ProductionDailyLabors", null, new { @class = "btn btn-success" })
        <table class="table table-hover">
            <tr class="info">
                <th>
                    Worker
                </th>
                <th>
                    Hours
                </th>
                <th>
                    Cost/Hr
                </th>
                <th>
                    Ext. Cost
                </th>
                <th>
                    Task
                </th>
                <th>
                </th>
            </tr>
            @foreach (var item in Model.ProductionDailyLabor)
            {
                <tr>
                    <td>
                        
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Hours)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.HourCost)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Cost)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Task.taskDesc)
                    </td>
                    <td>

                        @Html.ActionLink("Edit", "Edit", "ProductionDailyLabors", new { id = item.ID }, new { @class = "btn btn-primary" }) |
                        @Html.ActionLink("Details", "Details", "ProductionDailyLabors", new { id = item.ID }, new { @class = "btn btn-info" }) |
                        @Html.ActionLink("Delete", "Delete", "ProductionDailyLabors", new { id = item.ID }, new { @class = "btn btn-danger" })
                    </td>
                </tr>
            }

        </table>
    </div>
}