@model IEnumerable<NBDProject.Models.City>


@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>
@if (User.IsInRole("Admin") || User.IsInRole("Admin Assistant") || User.IsInRole("Sales"))
{
<p>
    @Html.ActionLink("Create New", "Create", null, new { @class = "btn btn-success" })
</p>
}
<table class="table table-hover">
    <tr class="info">
        <th>
            @Html.DisplayNameFor(model => model.cityName)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.cityName)
        </td>
        @if (User.IsInRole("Admin") || User.IsInRole("Admin Assistant") || User.IsInRole("Sales"))
        {
        <td>
            @Html.ActionLink("Edit", "Edit", new { id = item.ID }, new { @class = "btn btn-primary" }) |
            @Html.ActionLink("Details", "Details", new { id = item.ID }, new { @class = "btn btn-info" }) |
            @Html.ActionLink("Delete", "Delete", new { id = item.ID }, new { @class = "btn btn-danger" }) 
        </td>
        }
    </tr>
}

</table>

