@model NBDProject.Models.Project

@{
    ViewBag.Title = "Details";
}
@{
    var DesignBid = Model.MaterialRequirements.Sum(p => p.mregExtCostDesign) + Model.LabourRequirementDesigns.Sum(p => p.lregDExtPrice);
    var productionPlanCost = Model.MaterialRequirements.Sum(p => p.mregExtCostProPlan) + Model.LabourRequirementDesigns.Sum(p => p.LabourRequirements.Sum(l => l.LregEstCost));
    var percent = Math.Round((productionPlanCost / DesignBid) * 100);
}

<h2>Details</h2>

<div>
    <h4>Project</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Client.cliName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Client.cliName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.projectName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.projectName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.projectSite)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.projectSite)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.projectBidDate)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.projectBidDate)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.projectEstStart)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.projectEstStart)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.projectEstEnd)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.projectEstEnd)
        </dd>
        @if (User.IsInRole("Production Manager") || User.IsInRole("Chief Designer"))
        {
        <dt>
            @Html.DisplayNameFor(model => model.projectActStart)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.projectActStart)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.projectActEnd)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.projectActEnd)
        </dd>

        <dt>
            Production Plan Cost
        </dt>
        
            if (percent > 70)
            {
                <dd style="color:red">@productionPlanCost$ - @percent%</dd>
            }
            else
            {
                <dd style="color:green">@productionPlanCost$ - @percent%</dd>
            }

        }
        <dt>
            Design Bid
        </dt>

        <dd>
            @DesignBid$
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.projectBidCustAccept)
        </dt>

        @if (Model.projectBidCustAccept)
        {
        <dd style="color:green">
            Approved 
        </dd>
        }
        else {
        <dd style="color:red"> 
            Not Approved 
        </dd>
        }

        <dt>
            @Html.DisplayNameFor(model => model.projectBidMgmtAccept)
        </dt>

        @if (Model.projectBidMgmtAccept)
        {
        <dd style="color:green">
            Approved 
        </dd>
        }
        else {
        <dd style="color:red"> 
            Not Approved 
        </dd>
        }
        

        <dt>
            @Html.DisplayNameFor(model => model.projectChiefDesignAccept)
        </dt>

        
       @if (Model.projectChiefDesignAccept)
        {
        <dd style="color:green">
            Approved 
        </dd>
        }
        else {
        <dd style="color:red"> 
            Not Approved 
        </dd>
        }
        

        <dt>
            @Html.DisplayNameFor(model => model.projectFlagged)
        </dt>

        
       @if (Model.projectFlagged)
        {
        <dd style="color:green">
            Approved 
        </dd>
        }
        else {
        <dd style="color:red"> 
            Not Approved 
        </dd>
        }
        



        <dt>
            @Html.DisplayNameFor(model => model.projectCurrentPhase)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.projectCurrentPhase)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.ID }) |
    @Html.ActionLink("Back to List", "Index")
</p>
