@model IEnumerable<NBDProject.Models.Project>

@{
    ViewBag.Title = "Projects";
}


<h2>Index</h2>
@if (User.IsInRole("Admin") || User.IsInRole("Admin Assistant") || User.IsInRole("Designer"))
{
    <p>
        @Html.ActionLink("Create New", "Create", null, new { @class = "btn btn-success" })
    </p>
}
<table class="table table-hover">
    <tr class="info">
        <th>
            @Html.DisplayNameFor(model => model.Client.cliName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.projectName)
        </th>
        @*<th>
            @Html.DisplayNameFor(model => model.projectBidDate)
        </th>*@
        @*<th>
            @Html.DisplayNameFor(model => model.projectEstStart)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.projectEstEnd)
        </th>*@
        @if (User.IsInRole("Production Manager") || User.IsInRole("Chief Designer"))
        {
            @*<th>
                @Html.DisplayNameFor(model => model.projectActStart)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.projectActEnd)
            </th>*@
            <th>
                Production Cost
            </th>
        }
        <th>
            Design Bid
        </th>

        @if (User.IsInRole("Group Manager"))
        {
            <th>
                @Html.DisplayNameFor(model => model.projectBidCustAccept)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.projectBidMgmtAccept)
            </th>
        }
        @if (User.IsInRole("Chief Designer") || User.IsInRole("Production Manager"))
        {
            <th>
                @Html.DisplayNameFor(model => model.projectChiefDesignAccept)
            </th>
        }
        <th>
            @Html.DisplayNameFor(model => model.projectFlagged)
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Client.cliName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.projectName)
            </td>
            @*<td>
                @Html.DisplayFor(modelItem => item.projectBidDate)
            </td>*@
            @*<td>
                @Html.DisplayFor(modelItem => item.projectEstStart)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.projectEstEnd)
            </td>*@
            @{
                var productionPlanCost = item.MaterialRequirements.Sum(p => p.mregExtCostProPlan) + item.LabourRequirementDesigns.Sum(p => p.LabourRequirements.Sum(l => l.LregEstCost));
                var DesignBid = item.MaterialRequirements.Sum(p => p.mregExtCostDesign) + item.LabourRequirementDesigns.Sum(p => p.lregDExtPrice);
                var percent = Math.Round((productionPlanCost / DesignBid) * 100);
            }
            @if (User.IsInRole("Production Manager") || User.IsInRole("Chief Designer") && item.projectChiefDesignAccept)
            {
                @*<td>
                    @Html.DisplayFor(modelItem => item.projectActStart)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.projectActEnd)
                </td>*@
                if (percent > 70 || percent < 50)
                {
                    <td style="color:red">@productionPlanCost$ - @percent%</td>
                }
                else
                {
                <td style="color:green">@productionPlanCost$ - @percent%</td>
                }
            }
            <td>
                @DesignBid$
            </td>
            @*<td>
                @Html.DisplayFor(modelItem => item.projectEstCost)
            </td>*@
            @if (User.IsInRole("Group Manager"))
            {
                <td>
                    @if (item.projectBidCustAccept)
                    {
                        @: <p style="color:green">Approved</p>
                    }
                    else
                    {
                        @: <p style="color:red">Not Approved</p>
                    }
                </td>
                <td>
                    @if (item.projectBidMgmtAccept)
                    {
                        @: <p style="color:green">Approved</p>
                    }
                    else
                    {
                        @: <p style="color:red">Not Approved</p>
                    }
                </td>
            }
            @if (User.IsInRole("Chief Designer") || User.IsInRole("Production Manager"))
            {
                <td>
                    @if (item.projectChiefDesignAccept)
                    {
                        @: <p style="color:green">Approved</p>
                    }
                    else
                    {
                        @: <p style="color:red">Not Approved</p>
                    }
                </td>
            }
            <td>
                @if (item.projectFlagged)
                {
                    @: <p style="color:green">Approved</p>
                }
                else
                {
                    @: <p style="color:red">Not Approved</p>
                }
            </td>


            <td>
                @if (User.IsInRole("Admin") || User.IsInRole("Admin Assistant") || User.IsInRole("Designer") || User.IsInRole("Chief Designer") || User.IsInRole("Group Manager"))
                {
                    @Html.ActionLink("Edit", "Edit", new { id = item.ID }, new { @class = "btn btn-primary" }) @: |
                }
                @if (User.IsInRole("Admin") || User.IsInRole("Admin Assistant") || User.IsInRole("Designer") || User.IsInRole("Chief Designer") || User.IsInRole("Group Manager") || User.IsInRole("Production Manager"))
                {
                    @Html.ActionLink("Details", "Details", new { id = item.ID }, new { @class = "btn btn-info" }) @: |
                }
                @if (User.IsInRole("Admin") || User.IsInRole("Admin Assistant") || User.IsInRole("Chief Designer") || User.IsInRole("Group Manager"))
                {
                    @Html.ActionLink("Delete", "Delete", new { id = item.ID }, new { @class = "btn btn-danger" })
                }
            </td>

        </tr>
    }

</table>

@*@Html.ActionLink("Edit", "Edit", new { id = item.ID }, new { @class = "btn btn-primary" }) |
@Html.ActionLink("Details", "Details", new { id = item.ID }, new { @class = "btn btn-info" }) |
@Html.ActionLink("Delete", "Delete", new { id = item.ID }, new { @class = "btn btn-danger" })*@
