@model IEnumerable<NBDProject.Models.Inventory>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>
@if (User.IsInRole("Admin") || User.IsInRole("Admin Assistant") || User.IsInRole("Production Manager") || User.IsInRole("Group Manager"))
{
<p>
    @Html.ActionLink("Create New", "Create")
</p>
}
<table class="table">
    <tr>
        
        <th>
            @Html.DisplayNameFor(model => model.invCode)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.invDesc)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.AvgNet)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.List)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.SizeAmnt)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.SizeUnit)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <th>
            @Html.DisplayFor(modelItem => item.invCode)
        </th>
        <th>
            @Html.DisplayFor(modelItem => item.invDesc)
        </th>
        <td>
            @Html.DisplayFor(modelItem => item.AvgNet)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.List)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.SizeAmnt)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.SizeUnit)
        </td>
        
        @if (User.IsInRole("Admin") || User.IsInRole("Admin Assistant") || User.IsInRole("Production Manager") || User.IsInRole("Group Manager"))
        {
        <td>
            @Html.ActionLink("Edit", "Edit", new { id = item.ID }) |
            @Html.ActionLink("Details", "Details", new { id = item.ID }) |
            @Html.ActionLink("Delete", "Delete", new { id = item.ID })
        </td>
        }

    </tr>
}

</table>
