@model IEnumerable<NBDProject.Models.WorkType>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>
@if (User.IsInRole("Admin"))
{
<p>
    @Html.ActionLink("Create New", "Create", null, new { @class = "btn btn-success" })
</p>
}
<table class="table table-hover">
    <tr class="info">
        <th>
            @Html.DisplayNameFor(model => model.workTypeDesc)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.workTypePrice)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.workTypeCost)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.workTypeDesc)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.workTypePrice)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.workTypeCost)
        </td>
        @if (User.IsInRole("Admin"))
        {
        <td>
            @Html.ActionLink("Edit", "Edit", new { id = item.ID }, new { @class = "btn btn-primary" }) |
            @Html.ActionLink("Details", "Details", new { id = item.ID }, new { @class = "btn btn-info" }) |
            @Html.ActionLink("Delete", "Delete", new { id = item.ID }, new { @class = "btn btn-danger" })

        </td>
        }
    </tr>
}

</table>
