@model IEnumerable<NBDProject.Models.TaskTest>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>
@if (User.IsInRole("Admin") || User.IsInRole("Admin Assistant") || User.IsInRole("Production Manager") || User.IsInRole("Chief Manager"))
{
<p>
    @Html.ActionLink("Create New", "Create")
</p>
}
<table class="table">
    <tr>
        @*<th>
            @Html.DisplayNameFor(model => model.LabourRequirements.)
        </th>*@
        <th>
            @Html.DisplayNameFor(model => model.taskDesc)
        </th>
        @*<th>
            @Html.DisplayNameFor(model => model.taskStdTImeAmnt)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.taskStdTimeUnit)
        </th>*@
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        @*<td>
            @Html.DisplayFor(modelItem => item.labourRequirement.desc)
        </td>*@
        <td>
            @Html.DisplayFor(modelItem => item.taskDesc)
        </td>
        @*<td>
            @Html.DisplayFor(modelItem => item.taskStdTImeAmnt)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.taskStdTimeUnit)
        </td>*@
        @if (User.IsInRole("Admin") || User.IsInRole("Admin Assistant") || User.IsInRole("Production Manager") || User.IsInRole("Chief Manager"))
        {
        <td>
            @Html.ActionLink("Edit", "Edit", new { id = item.ID }) |
            @Html.ActionLink("Details", "Details", new { id = item.ID }) |
            @Html.ActionLink("Delete", "Delete", new { id = item.ID })
        </td>
        }
    </tr>
}

</table>
