@model IEnumerable<NBDProject.Models.LabourRequirementDesign>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>
@if (User.IsInRole("Admin") || User.IsInRole("Admin Assistant") || User.IsInRole("Designer") || User.IsInRole("Group Manager"))
{
<p>
    @Html.ActionLink("Create New", "Create", null, new { @class = "btn btn-success" })
</p>
}
<p>
    @using (Html.BeginForm("Index", "LabourRequirementDesigns", FormMethod.Get))
    {
    <p>
        Select Project: @Html.DropDownList("ProjectID", null, htmlAttributes: new { @onchange = "this.form.submit();" })
        @*<input type="Submit" value="Filter" class="btn btn-default" />*@
    </p>
    }
</p>
<table class="table table-hover">
    <tr class="info">
        <th>
            @Html.DisplayNameFor(model => model.Project.projectName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.lregDHour)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.lregDDesc)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.lregDUnitPrice)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.lregDExtPrice)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Project.projectName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.lregDHour)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.lregDDesc)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.lregDUnitPrice)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.lregDExtPrice)
        </td>
        
        <td>
            @if (User.IsInRole("Admin") || User.IsInRole("Admin Assistant") || User.IsInRole("Designer") || User.IsInRole("Group Manager") || User.IsInRole("Chief Designer"))
            {
                @Html.ActionLink("Details", "Details", new { id = item.ID }, new { @class = "btn btn-info" }) @: |
            }
            @if (User.IsInRole("Admin") || User.IsInRole("Admin Assistant") || User.IsInRole("Designer") || User.IsInRole("Group Manager"))
            {
                @Html.ActionLink("Edit", "Edit", new { id = item.ID }, new { @class = "btn btn-primary"}) @: |
                @Html.ActionLink("Delete", "Delete", new { id = item.ID }, new { @class = "btn btn-danger"})
            }
        </td>
        
    </tr>
}

</table>

