@model IEnumerable<NBDProject.Models.LabourSummary>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create", null, new { @class = "btn btn-success" })
</p>
    @using (Html.BeginForm("Index", "LabourSummaries", FormMethod.Get))
    {
     <p>
            Select Project: @Html.DropDownList("ProjectID", null, "All Projects", htmlAttributes: new { @onchange = "this.form.submit();" })
            @*<input type="Submit" value="Filter" class="btn btn-default" />*@
        </p>
    }
<table class="table table-hover">
    <tr class="info">
        <th>
            @Html.DisplayNameFor(model => model.Project.projectName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.lsHours)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.WorkType.workTypeDesc)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Project.projectName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.lsHours)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.WorkType.workTypeDesc)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id = item.ID }, new { @class = "btn btn-primary" }) |
            @Html.ActionLink("Details", "Details", new { id = item.ID }, new { @class = "btn btn-info" }) |
            @Html.ActionLink("Delete", "Delete", new { id = item.ID }, new { @class = "btn btn-danger" })
        </td>
    </tr>
}
    

</table>
