@model IEnumerable<NBDProject.Models.ProjectTeam>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
@using (Html.BeginForm("Index", "ProjectTeams", FormMethod.Get))
{
    <p>
        Select Project: @Html.DropDownList("ProjectID", null, htmlAttributes: new { @onchange = "this.form.submit();" })
        @*<input type="Submit" value="Filter" class="btn btn-default" />*@
    </p>
}
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.teamPhaseIn)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.project.projectName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Workers)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.teamPhaseIn)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.project.projectName)
        </td>
         <td>
                    @{
                    foreach (var worker in item.Workers)
                    {
                        @:  @worker.FullName <br />
                    }
                    }
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.ID }) |
            @Html.ActionLink("Details", "Details", new { id=item.ID }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.ID })
        </td>
    </tr>
}

</table>
