@model IEnumerable<NBDProject.Models.Worker>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>
@if (User.IsInRole("Admin") || User.IsInRole("Admin Assistant"))
{
<p>
    @Html.ActionLink("Create New", "Create", null, new { @class = "btn btn-success" })
</p>
}
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.WorkType.workTypeDesc)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.FullName)
        </th>
       
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.WorkType.workTypeDesc)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.FullName)
        </td>
        @if (User.IsInRole("Admin") || User.IsInRole("Admin Assistant"))
        {
        <td>
            @Html.ActionLink("Edit", "Edit", new { id = item.ID }, new { @class = "btn btn-primary" }) |
            @Html.ActionLink("Details", "Details", new { id = item.ID }, new { @class = "btn btn-info" }) |
            @Html.ActionLink("Delete", "Delete", new { id = item.ID }, new { @class = "btn btn-danger" })

        </td>
        }
    </tr>
}

</table>
