@model NBDProject.Models.LabourRequirement

@{
    ViewBag.Title = "Delete";
}

<h2>Delete</h2>

<h3>Are you sure you want to delete this?</h3>
<div>
    <h4>Labour Requirement (Production Plan)</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.LabourRequirementDesign.lregDDesc)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.LabourRequirementDesign.lregDDesc)
        </dd>


        <dt>
            @Html.DisplayNameFor(model => model.Worker.FullName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Worker.FullName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.lregProdHour)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.lregProdHour)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.lregCost)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.lregCost)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.LregEstCost)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.LregEstCost)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.lregTime)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.lregTime)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Task.taskDesc)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Task.taskDesc)
        </dd>

    </dl>

    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Delete" class="btn btn-default" /> |
            @Html.ActionLink("Back to List", "Index")
        </div>
    }
</div>
