@model NBDProject.Models.LabourRequirement

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>Labour Requirement (Production Plan)</h4>
    <hr />
    <dl class="dl-horizontal">

        <dt>
            @Html.DisplayNameFor(model => model.projectName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.projectName)
        </dd>


        <dt>
            @Html.DisplayNameFor(model => model.LabourRequirementDesign.lregDDesc)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.LabourRequirementDesign.lregDDesc)
        </dd>


        <dt>
            @Html.DisplayNameFor(model => model.Worker.FullName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Worker.FullName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.lregProdHour)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.lregProdHour)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.lregCost)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.lregCost)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.LregEstCost)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.LregEstCost)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.lregTime)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.lregTime)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Task.taskDesc)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Task.taskDesc)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.ID }) |
    @Html.ActionLink("Back to List", "Index")
</p>
