@model IEnumerable<NBDProject.Models.LabourRequirement>

@{
    ViewBag.Title = "Labour Requirements";
}

<h2>Index</h2>
@if (User.IsInRole("Admin") || User.IsInRole("Admin Assistant") || User.IsInRole("Production Manager") || User.IsInRole("Chief Designer"))
{
<p>
    @Html.ActionLink("Create New", "Create", null, new { @class = "btn btn-success" })
</p>
}
@using (Html.BeginForm("Index", "LabourRequirements", FormMethod.Get))
{
    <p>
        Select Project: @Html.DropDownList("LabourRequirementDesignID", null, htmlAttributes: new { @onchange = "this.form.submit();" })
        @*<input type="Submit" value="Filter" class="btn btn-default" />*@
    </p>
}
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.projectName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.LabourRequirementDesign.lregDDesc)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Task.taskDesc)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Worker.FullName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.lregProdHour)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.lregCost)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.LregEstCost)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.lregTime)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.projectName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.LabourRequirementDesign.lregDDesc)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Task.taskDesc)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Worker.FullName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.lregProdHour)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.lregCost)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.LregEstCost)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.lregTime)
        </td>
        @if (User.IsInRole("Admin") || User.IsInRole("Admin Assistant") || User.IsInRole("Production Manager") || User.IsInRole("Chief Designer"))
        {
        <td>
            @Html.ActionLink("Edit", "Edit", new { id = item.ID }, new { @class = "btn btn-primary" }) |
            @Html.ActionLink("Details", "Details", new { id = item.ID }, new { @class = "btn btn-info" }) |
            @Html.ActionLink("Delete", "Delete", new { id = item.ID }, new { @class = "btn btn-danger" })
        </td>
        }
    </tr>
}

</table>
