@model NBDProject.Models.MaterialRequirement

@{
    ViewBag.Title = "Delete";
}

<h2>Delete</h2>

<h3>Are you sure you want to delete this?</h3>
<div>
    <h4>Material Requirement</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Inventory.invCode)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Inventory.invCode)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Project.projectName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Project.projectName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.mreqQty)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.mreqQty)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.mregCode)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.mregCode)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.mregSize)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.mregSize)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.mregNetProPlan)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.mregNetProPlan)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.mregNetDesign)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.mregNetDesign)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.mregExtCostDesign)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.mregExtCostDesign)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.mregExtCostProPlan)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.mregExtCostProPlan)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.mreqDeliver)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.mreqDeliver)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.mreqInstall)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.mreqInstall)
        </dd>

    </dl>

    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Delete" class="btn btn-default" /> |
            @Html.ActionLink("Back to List", "Index")
        </div>
    }
</div>
