@model NBDProject.Models.MaterialRequirement

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>Material Requirement</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Inventory.invCode)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Inventory.invCode)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Project.projectName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Project.projectName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.mreqQty)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.mreqQty)
        </dd>

        @*<dt>
            @Html.DisplayNameFor(model => model.mregCode)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.mregCode)
        </dd>*@

        <dt>
            @Html.DisplayNameFor(model => model.mregSize)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.mregSize)
        </dd>
        @if (User.IsInRole("Production Manager") && Model.mregFlag)
        {
        <dt>
            @Html.DisplayNameFor(model => model.mregNetProPlan)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.mregNetProPlan)
        </dd>
        }
        <dt>
            @Html.DisplayNameFor(model => model.mregNetDesign)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.mregNetDesign)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.mregExtCostDesign)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.mregExtCostDesign)
        </dd>
        @if (User.IsInRole("Production Manager") && Model.mregFlag)
        {
        <dt>
            @Html.DisplayNameFor(model => model.mregExtCostProPlan)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.mregExtCostProPlan)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.mreqDeliver)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.mreqDeliver)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.mreqInstall)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.mreqInstall)
        </dd>
        }
    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.ID }) |
    @Html.ActionLink("Back to List", "Index")
</p>
