@model IEnumerable<NBDProject.Models.MaterialRequirement>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>
@if (User.IsInRole("Admin") || User.IsInRole("Admin Assistant") || User.IsInRole("Designer") || User.IsInRole("Chief Designer") || User.IsInRole("Group Manager"))
{
<p>
    @Html.ActionLink("Create New", "Create")
</p>
}
    @using (Html.BeginForm("Index", "MaterialRequirements", FormMethod.Get))
    {
        <p>
            Select Project: @Html.DropDownList("ProjectID", null, htmlAttributes: new { @onchange = "this.form.submit();" })
            @*<input type="Submit" value="Filter" class="btn btn-default" />*@
        </p>
    }
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Inventory.invCode)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Project.projectName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.mreqQty)
        </th>
        @*<th>
            @Html.DisplayNameFor(model => model.mregCode)
        </th>*@
        <th>
            @Html.DisplayNameFor(model => model.mregSize)
        </th>
        @if (User.IsInRole("Production Manager"))
        {
        <th>
            @Html.DisplayNameFor(model => model.mregNetProPlan)
        </th>
        }
        <th>
            @Html.DisplayNameFor(model => model.mregNetDesign)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.mregExtCostDesign)
        </th>
        @if (User.IsInRole("Production Manager"))
        {
        <th>
            @Html.DisplayNameFor(model => model.mregExtCostProPlan)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.mreqDeliver)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.mreqInstall)
        </th>
        }
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Inventory.invCode)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Project.projectName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.mreqQty)
        </td>
        @*<td>
            @Html.DisplayFor(modelItem => item.mregCode)
        </td>*@
        <td>
            @Html.DisplayFor(modelItem => item.mregSize)
        </td>
        @if (User.IsInRole("Production Manager") && item.mregFlag)
        {
        <td>
            @Html.DisplayFor(modelItem => item.mregNetProPlan)
        </td>

        }
        else {
           <td style="color:red">
               Waiting To Approved...
           </td>
        }
        <td>
            @Html.DisplayFor(modelItem => item.mregNetDesign)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.mregExtCostDesign)
        </td>
        @if (User.IsInRole("Production Manager") && item.mregFlag)
        {
        <td>
            @Html.DisplayFor(modelItem => item.mregExtCostProPlan)
        </td>
            if (item.mreqDeliver != null)
            {
            <td>
                @Html.DisplayFor(modelItem => item.mreqDeliver)

            </td>
            }
            else {
                <td style="color:green">
                    Able To Edit...
                    </td>
            }
            if (item.mreqInstall != null)
            {
            <td>
                @Html.DisplayFor(modelItem => item.mreqInstall)
            </td>
            }
            else
            {
                <td style="color:green">
                    Able To Edit...
                </td>
            }
        }
        else
        {
            <td style="color:red">
                Waiting To Approved...
            </td>
            <td style="color:red">
                Waiting To Approved...
            </td>
            <td style="color:red">
                Waiting To Approved...
            </td>
        }
        @if (User.IsInRole("Admin") || User.IsInRole("Admin Assistant") || User.IsInRole("Designer") || User.IsInRole("Chief Designer") || User.IsInRole("Group Manager") || User.IsInRole("Production Manager"))
        {
        <td>
            @Html.ActionLink("Edit", "Edit", new { id = item.ID }) |
            @Html.ActionLink("Details", "Details", new { id = item.ID }) |
            @Html.ActionLink("Delete", "Delete", new { id = item.ID })
        </td>
        }
    </tr>
}

</table>
