@model NBDProject.ViewModels.DesignBidVM
@{
    ViewBag.Title = "Index";

}

<h2>Design Bid Summary</h2>

<p>
    @using (Html.BeginForm("Index", "DesignBid", FormMethod.Get))
    {
    <p>
        Select Client: @Html.DropDownList("ClientID", new SelectList(Model.Client, "ID", "cliName"), htmlAttributes: new { @onchange = "this.form.submit();" })
        @*<input type="Submit" value="Filter" class="btn btn-default" />*@
    </p>
    }
    </p>

<h4>Client's Information</h4>
<table class="table table-hover">
        <tr class="bg-danger">
            @foreach (var model in Model.Client)
            {
                <th>
                    @Html.DisplayNameFor(modelItem => model.cliName)
                </th>
                <th>
                    @Html.DisplayNameFor(modelItem => model.cliAddress)
                </th>
                <th>
                    Contact
                </th>
                <th>
                    @Html.DisplayNameFor(modelItem => model.cliPhone)
                </th>
                break;
            }
        </tr>

        @foreach (var item in Model.Client)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.cliName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.cliAddress)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.cliConFname)&nbsp;@Html.DisplayFor(modelItem => item.cliConLName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.cliPhone)
                </td>
            </tr>
        }
</table>


<h4>Client's Projects</h4>
    <table class="table table-hover">
        <tr class="info">
        @foreach (var model in Model.Project)
        {
                <th>
                    @Html.DisplayNameFor(modelItem => model.projectName)
                </th>
                <th>
                    @Html.DisplayNameFor(modelItem => model.projectBidDate)
                </th>
                <th>
                    @Html.DisplayNameFor(modelItem => model.projectEstStart)
                </th>
                <th>
                    @Html.DisplayNameFor(modelItem => model.projectEstEnd)
                </th>
                <th>
                    @Html.DisplayNameFor(modelItem => model.projectSite)
                </th>
                <th>
                    Design Bid
                </th>
                <th>
                    @Html.DisplayNameFor(modelItem => model.projectBidCustAccept)
                </th>
                <th>
                    @Html.DisplayNameFor(modelItem => model.projectBidMgmtAccept)
                </th>
                <th></th>
            break;
        }
        </tr>

        @foreach (var item in Model.Project)
        {
            <tr>
                <td>@Html.DisplayFor(modelItem => item.projectName)</td>
                <td>@Html.DisplayFor(modelItem => item.projectBidDate)</td>
                <td>@Html.DisplayFor(modelItem => item.projectEstStart)</td>
                <td>@Html.DisplayFor(modelItem => item.projectEstEnd)</td>
                <td>@Html.DisplayFor(modelItem => item.projectSite)</td>
                <td>@{
                    var sum = Model.MaterialRequirement.Sum(p => p.mregExtCostDesign) + Model.LabourRequirementDesign.Sum(p => p.lregDExtPrice);
                }   @sum$</td>
                @if (item.projectBidCustAccept)
                {
                    <td style="color:green">Approved</td>
                }
                else
                {
                    <td style="color:red">Not Approved</td>
                }
                @if (item.projectBidMgmtAccept)
                {
                    <td style="color:green">Approved</td>
                }
                else
                {
                    <td style="color:red">Not Approved</td>
                }

                <td>@Html.ActionLink("Inspect", "Inspect", new { ProjectID = item.ID }, new { @class = "btn btn-primary" })</td>
            </tr>
        }

    </table>


    @*<table class="table table-hover">
        <tr class="info">
            @foreach (var model in Model.MaterialRequirement)
            {
                <th>
                    @Html.DisplayNameFor(modelItem => model.mreqQty)
                </th>
                <th>
                    @Html.DisplayNameFor(modelItem => model.Inventory.invDesc)
                </th>
                <th>
                    @Html.DisplayNameFor(modelItem => model.mregSize)
                </th>
                <th>
                    @Html.DisplayNameFor(modelItem => model.mregNetDesign)
                </th>
                <th>
                    Extended Price
                </th>
                break;
            }
        </tr>
        @foreach (var item in Model.MaterialRequirement)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.mreqQty)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Inventory.invDesc)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.mregSize)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.mregNetDesign)
                </td>
                <td>
                    @{
                        var ExtendedPrice = item.mreqQty * item.mregNetDesign;

                    }
                    @ExtendedPrice
                </td>
            </tr>
        }
    </table>*@
